{{ header }}
{# <div id="common-home" class="container _start">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>

</div> #}

{# BANNERS #}
<section class="sales">
	<div class="sales__wrapper">
		<div class="sales__header">
			<div class="_container"></div>
			<h1>{{ name }}</h1>
			<h2>{{ description }}</h2>
		</div>
	</div>
	<div class="sales__slider _swiper">
	{% for banner in banners %}
	<div class="sales__slide">
		<a href="{{ banner.link }}">
			<img src="image/{{ banner.image }}" alt="{{ banner.title }}">
		</a>
	</div>
	{% endfor %}
	</div>
</section>

<section class="home-categories">
	<div class="home-categories__wrapper _container">
		<div class="home-categories__header main__title">
			<h3>Каталог</h3>
		</div>
		<div class="home-categories__tabs tabs _tabs">
			<nav class="home-categories__nav tabs__nav _swiper">
				{% for category in categories %}
					{% if loop.index == 1 %}
						<div class="home-categories__item _tabs-item tabs__link main__link _active">{{ category.name }}</div>
					{% else %}
						<div class="home-categories__item _tabs-item tabs__link main__link">{{ category.name }}</div>
					{% endif %}
				{% endfor %}
			</nav>
			<div class="home-categories__body">
				{% for category in categories %}
					{% if loop.index == 1 %}
						<div class="_tabs-block _active">
							<div class="home-categories__block">
								{% for sub_categorier in category.sub_category %}
									<div class="main__card">
										<a href="{{ sub_categorier.href }}">
											{% if sub_categorier.image %}
												<img src="{{ sub_categorier.image }}" alt="{{ sub_categorier.name }}">
											{% else %}
												<img class="_no-img" src="image/catalog/camera.svg" alt="{{ sub_categorier.name }}">
											{% endif %}
											<p>{{ sub_categorier.name }}</p>
										</a>
									</div>
								{% endfor %}
							</div>
						</div>
					{% else %}
						<div class="_tabs-block">
							<div class="home-categories__block">
								{% for sub_categorier in category.sub_category %}
									<div class="main__card">
										<a href="{{ sub_categorier.href }}">
											{% if sub_categorier.image %}
												<img src="{{ sub_categorier.image }}" alt="{{ sub_categorier.name }}">
											{% else %}
												<img class="_no-img" src="image/catalog/camera.svg" alt="{{ sub_categorier.name }}">
											{% endif %}
											<p>{{ sub_categorier.name }}</p>
										</a>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<section class="specials">
	<div class="specials__wrapper _container">
		<div class="specials__header main__title">
			<h3>Специальные предложения</h3>
		</div>
		<div class="specials__tabs tabs _tabs">
			{{ content_top }}
		</div>
	</div>
</section>


{{ footer }}